header{
    width: 100%;
    padding: 2rem 8%;
    margin-bottom: 2rem;
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
}

#nav_logo {
    font-size: 2rem;
    color: #ff6600;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.nav-item a{
    text-decoration: none;
    color: #646161;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-item.active a{
    color: #575656;
    border-bottom: 3px solid #ff6600;
}

.nav-item a:hover{
    color: #ff6600;
}