header{
    width: 100%;
    padding: 2rem 8%;
    margin-bottom: 2rem;
}


#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
}

#nav_logo {
    font-size: 2rem;
    color: #ff6600;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.nav-item a{
    text-decoration: none;
    color: #646161;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-item.active a{
    color: #575656;
    border-bottom: 3px solid #ff6600;
}

.nav-item a:hover{
    color: #ff6600;
}

@media screen and (max-width: 768px) {
    #navbar {
        padding: 0 1rem;
        display: block;
        margin-top: 3rem;
        font-size: 3rem;
    }

    #nav_list {
        display: contents;
        position: absolute;
        font-size: 2rem;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        line-height: 1; 
        
    }
    

    #nav_logo {
        font-size: 1.5rem;
        justify-content: space-between;
    }
    
    #nav_toggle {
        font-size: 1.5rem;
        cursor: pointer; 
    }

    #nav_toggle.active {
        color: #ff6600;
    }

    #nav_toggle.active + #nav_list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .nav-item {
        text-align: center; 
    }

    .nav-item a {
        font-size: 1rem;
        text-decoration: none; 
        color: #333; 
        transition: color 0.3s; 
    }

    .nav-item a:hover {
        color: #ff6600; 
    }

    
}
