@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Playwrite NG Modern', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 244, 242);
    background-image: url('https://www.transparenttextures.com/patterns/cubes.png'); 
}



section{
    padding: 2rem 8%;
}


#home {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 2rem 8%;
    gap: 2rem;
}

#cta {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#cta .title {
    font-size: 3rem;
    font-weight: 700;
    color: #3a3838;
    align-items: center;
}

#cta .title span {
    color: #ff6600;
    font-size: larger;
    align-items: center;
}

#banner {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
}

#banner img {
    width: 85%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 30%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
     
}



.btn-default {
    background-color:#ff6600;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    align-items: center;
}

.btn-default:hover {
    background-color: #d15807;
}

.btn-default-cart {
    background-color:#ff6600;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    align-items: center;
}

#cta_buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    font-size: 1rem;
    align-items: center;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #3a3838;
    margin-bottom: 1rem; 
}

.section-subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    color: #e06f06;
    margin-bottom: 2rem; 
}

.dish-img .dish-heart {
    width: 40%; 
    height: auto; 
    object-fit: cover; 
}

#menu {
    padding: 2rem 8%;
    background-color: #f8a268;
    background-image: linear-gradient(to bottom, rgba(248, 162, 104, 1), rgba(248, 162, 104, 0)); 
}


#dishes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: space-between; 
}

.dish {
    flex: 1 1 calc(33.333% - 2rem); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: 2px solid #ddd; 
    border-radius: 0.5rem; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 2rem;
}

.dish-rate {
    width: 40%; 
    height: auto; 
    color: #5e5857;
    object-fit: cover; 
    margin-bottom: 1rem;
    margin-top: auto;
}

.dish-price {
    font-weight: 600;
    color: #0e0d0d;
    margin-bottom: 1rem; 
}

.dish-img img {
    width: 100%; 
    height: auto; 
    border-radius: 0.5rem; 
}

.dish .btn-default {
    margin-top: auto; 
    
}

.section-title,
.section-subtitle {
    text-align: center;
    margin: 0 auto; 
}



.footer {
    background-color: #f3b18f;
    color: white;
    padding: 2rem 8%;
    text-align: center;
}

.footer p {
    font-size: 10rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    #home {
        flex-direction: column;
        align-items: center; /* Centraliza os itens na coluna */
    }

    #cta {
        text-align: center;
    }

    #cta .title {
        font-size: 1.5rem; /* Ajusta o tamanho da fonte do título */
        margin-bottom: 1rem; /* Espaçamento inferior do título */
    }

    #banner {
        width: 100%; /* Ocupa toda a largura disponível */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem; /* Espaçamento inferior */
    }

    #banner img {
        width: 70%; 
        border-radius: 30%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }

    #cta_buttons {
        flex-direction: column;
        gap: 1rem; 
    }

    #cta_buttons .btn-default {
        width: 100%; 
        font-size: 0.8rem; 
    }

    #menu {
        padding: 2rem 2rem;
    }

    #dishes {
        flex-direction: column;
        align-items: center;
        gap: 1rem; 
    }

    .dish {
        flex: 1 1 calc(100% - 2rem); 
        margin-bottom: 1rem; 
    }

    .btn-default-cart {
        font-size: 0.4rem;
        display: flex;
        padding-top: 1rem; 
        margin-top: 1rem; 
    }
    
}
